* {
    box-sizing: border-box;
}

p {
    padding: 5px;
    margin: 0;
}

.title {
    display: flex;
    background-color: rgba(0,139, 139,0.8);
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    height: auto;
}

.menu {
    display:flex;
    justify-content: center;
    background-color:royalblue;
    height: 50%;
}

.menubox {
    display: flex;
    justify-content: space-between;
    border-color: white;
}

.links {
    display: flex;
    justify-content: space-around;
}

.welcome {
    display: flex;
    justify-content: center;
    background-color:lightblue;
}

.welcome p{
    color: royalblue;
}