* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 600px;
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: royalblue;
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper {
  display: flex;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}

.title {
  background-color: yellow;
}

.sub-button {
  width: 50%;
  height: 35px;
  border: 0;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
  margin-top: 12px;
}

.answer {
  margin-bottom: 10px;
  border-width: 1px;
  border-color: black;
  height: 20px;
}

.desc {
  margin-bottom: 10px;
}